{{> head }}

{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Foto demo</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolorem ea minima id facilis! Doloribus nisi alias animi quae laboriosam. Dolorem dolore, ea quo dolor accusantium officiis assumenda asperiores obcaecati?</p>
        </div>

        <div class="col-4">
            <img src="assets/img/imagen.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}